.column {
  float: left;
  width: 50%;
  align-items: center;
}
 p {
   color: white;
   font-size: 24px;
}

.picture{
align-items: center;
border-radius: 30%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
.column {
  width: 100%;
}
}
